
body {
    background-color: whitesmoke ;
}

.progress-bar {
    height: inherit;
}

#progress-radial-container{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#progress-radial {
    position: relative;
    inset: 0px;
    width: 35vw;
    height: 35vw;
    min-width: 250px;
    min-height: 250px;
    max-width: 350px;
    max-height: 350px;
    padding: 5px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, whitesmoke 85%, transparent 80% 100%),
    conic-gradient(grey 0%, grey 0); 
}

.progress{
    height: inherit;
}

#timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50vw + 150px);
    max-width: 650px;
    margin: 0 auto;
    height: 40px; 
    overflow: hidden;
    
}

#timeline{ 
    width: inherit;
    position: relative;
    /*border: 2px solid;*/
    border-color: black;
    background-color: #dedede;
    height: 20px;
}


#timebar{

    position: relative;
    height: 30px;
    width: 2px;
    background-color:black;
    z-index: 10;

}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    padding-top: auto;
    color: black;
    font-size: 2rem;
    font-family:helvetica
  }

  #hours, #minutes{
    display: inline-block;
    text-align: center;
   }
  
   .separator{
     display: inline-block;
     padding-left:5px;
     padding-right: 5px;
   }

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}


.material-symbols-outlined {
  margin: 7px;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 70
}

.innerbtn {
    display: inline-flex;
    border-radius: .5rem;
    background-color: #ebebeb;
    color: black;
    cursor: pointer;
    border: none;
    padding: 0;
    margin-left: auto;
}



.card-container{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50vw + 150px);
    max-width: 650px;
    flex-direction: column;


}
.card {
    display: flex;
    margin-top: 10px;
    border-radius: 15px;
    width: calc(50vw + 150px);
    max-width: 650px;
    overflow: hidden;
}

.card-body {
    width: inherit;
    max-width: inherit;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

#card-add {
    justify-content: flex-start;
    border: 2px dashed #bebebe;
    background-color: #dedede83;
    max-width: inherit;
}

.task-list-container {
    margin-top: 30px;
    width: calc(50vw + 150px);
    max-width: 650px;
    display: flex;
    justify-content: space-between;
}

#task-cards {
    width: inherit;
}

.card-title {
    padding-left: 5px;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 3px;
    margin-top: 0;

}

.cardLeftContent {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.duration{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    color: rgb(75, 75, 75);
    padding-left: 5px;
}

.info{
    display: flex;
    align-items: center; 
    gap: 8px;
}

.time {
    margin: 0;
}

.status {
    font-size: 13px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;

}

.card-color {
    position: absolute;
    height: 100%;
    width: 13px;
    float: left;
    opacity: 50%;
}

#task-cards {
    max-width: inherit;
}



.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-time-container {
    display: flex;
    gap: 20px;
}

.task-time-container .form-group {
    flex: 1; 
}

label{
    margin-bottom: 0px;
}



.innerbtn:hover {
    transition: all 0.2s;
    background-color: #d0d0d0;
  }

  .innerbtn:active {
    transition: all 0.2s;
    background-color: #d0d0d0 !important;
  }

  

.delete-task-btn:hover {
    transition: all 0.2s;
    background-color: indianred;
    color: white;
}




.delete-task-btn:active {
    transition: all 0.2s;
    background-color: indianred !important;
    color: white !important;
}

.btn-secondary {
    background-color:  #ebebeb;
    color: black;
    border: 0;
}

.btn-secondary:hover {
    transition: all 0.2s;
    background-color:  #d0d0d0;
    color: black;
    border: 0;
}

.custom-popup {
    border-radius: 10px; 
    border: 0.5px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.custom-cancel-button {
    color: rgb(28, 28, 28) !important;
    border-radius: .5rem !important;
}

.custom-confirm-button {
    border-radius: .5rem  !important;
}

.form-check-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}


#new-task-button:hover {
    transition: all 0.2s;
    background-color: #c5c5c5 !important;
}

.btn-primary {
    background-color: rgb(56, 56, 56) ;
    color: white;
    border: 0;
}

.btn-primary:hover {
    transition: all 0.2s;
    background-color: rgb(40, 40, 40) !important;
    color: white;
    border: 0;
}

.modal-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
}



.modal-footer {
    background-color: #ebebeb;
}

.custom-cancel-button:hover {
    transition: all 0.2s;
   background-color: #ebebeb !important;
   color: black !important;
}

.custom-cancel-button:active {
    transition: all 0.2s;
   background-color: #ebebeb !important;
   color: black !important;
}

.dismiss{
    background-color: #ebebeb !important;
    color: rgb(50, 50, 50) !important;   
}

.dismiss:hover {
    transition: all 0.2s;
    background-color: #ebebeb !important;
    color: rgb(15, 15, 15) !important;   
}

.dismiss:active {
    transition: all 0.2s;
    background-color: #ebebeb !important;
    color: rgb(15, 15, 15) !important; 
}

.x {
    margin-top: auto;
    padding-bottom: 3px;
    margin-right: 5px;
}