{% extends "layout.html" %}

{% block title %}
    Your Timeline
{% endblock %}

{% block content %}
<h3 style="text-align:center; padding: 15px;"><span id="currentTaskInfo"></span></h3>

<div class="main-container">
<div id="progress-radial-container">
    <div id="progress-radial" class="progress-bar-radial">   
<div class="clock">
    <span id="hours"></span>
    <span class="separator">:</span>
    <span id="minutes"></span>
</div>
</div>
<progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
</div>




<div id="timeline-container">
<div id="timebar"></div>
<div id="timeline" class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    

    <!-- timeline bars-->
   

</div>
</div>
<hr>
<div class="task-list-container">
<h5>Task List</h5>


</div>

<div class="card-container">
    <div id="card-add" class="card">
        <div class="card-body">
            
            <button id="new-task-button" class="btn btn-sm" data-toggle="modal" data-target="#addTaskModal" style="display: flex; padding: 0;border-radius: .5rem; float: left; background-color: #d7d7d7"><span class="material-symbols-outlined">
                add
                </span><p style="margin: auto; padding-right: 15px; font-weight: 500;">New Task</p></button>
                 
            
       
        </div>
    </div>
    <div id="task-cards">
        
        <!-- task cards-->
        
    </div>
   <!-- <div class="form-check form-switch form-check-reverse">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckReverse" style="float:right;">
        <label class="form-check-label" for="flexSwitchCheckReverse">Delete completed tasks</label>
    </div> -->  
      
  
      

</div>

</div>

</div>



<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="x" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/new_task" method="post" id="addTaskForm">
                    <div class="form-group">
                        <input type="text" class="form-control" id="taskName" name="name" placeholder="Enter task name" required>
                    </div>
                    <div class="task-time-container">
                    <div class="form-group">
                        <label for="startTime" >Start Time</label>
                        <input type="time" class="form-control" id="startTime" name="start_time">
                    </div>
                    <div class="form-group">
                        <label for="endTime">End Time</label>
                        <input type="time" class="form-control" id="endTime" name="end_time" >
                    </div>
    
                    <div class="form-group">
                        <label for="taskColor">Color</label>
                        <input type="color" class="form-control" id="taskColor" name="color">
                    </div>
                    </div>
                
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary dismiss" data-dismiss="modal">Close</button>
                <button type="button" id="addTaskButton" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTaskModalLabel">Edit Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="x" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/edit_task" method="post" id="editTaskForm">
                    <div class="form-group">
                        <input type="text" class="form-control" id="editTaskName" name="name" placeholder="Enter task name" required>
                    </div>
                    <div class="task-time-container">
                        <div class="form-group">
                            <label for="editStartTime">Start Time</label>
                            <input type="time" class="form-control" id="editStartTime" name="start_time">
                        </div>
                        <div class="form-group">
                            <label for="editEndTime">End Time</label>
                            <input type="time" class="form-control" id="editEndTime" name="end_time">
                        </div>
                        <div class="form-group">
                            <label for="editTaskColor">Color</label>
                            <input type="color" class="form-control" id="editTaskColor" name="color">
                        </div>
                    </div>
                    <input type="hidden" name="task_id" id="editTaskId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary dismiss" data-dismiss="modal">Close</button>
                <button type="button" id="editTaskButton" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}