{% extends "layout.html" %}

{% block title %}
    Your Timeline
{% endblock %}

{% block script %}
<script>

    var tasks = [];
    $(document).ready(function() {
        function timeline() {
            var now = new Date();
            var hours = String(now.getHours()).padStart(2, '0');
            var minutes = String(now.getMinutes()).padStart(2, '0');
            $('#hours').text(hours);
            $('#minutes').text(minutes);
            console.log(hours, minutes);

            var container = $('#timeline');
            var seconds = (now.getHours() * 3600) + (now.getMinutes() * 60) + now.getSeconds();
        }

        function fetchTasks() {
           $.ajax({
                type: 'GET',
                url: '/get_tasks',
                success: function(response) {
                    //process response data
                    
                    if (Array.isArray(response.tasks)){
                        tasks = response.tasks;
                        console.log('is array');
                        console.log('Tasks:', response.tasks);
                        drawTimelineBars(response.tasks);
                    } else {
                    console.error('Tasks data is not in the expected format:', response.tasks)};
                },

                error: function(xhr, status, error) {
                    console.log('Error fetching tasks:', error);
                }
            })
        } 

        function drawTimelineBars(tasks) {

            var dayLen = 86400000;
            var container = $('#timeline');
            var taskCards = $('#task-cards');
            var currentTaskInfo = $('#currentTaskInfo');
            container.empty();

            

            tasks.forEach( function(task) {

                if (tasks.length === 0) {
                    currentTaskInfo.text('No tasks');
                    currentTaskInfo.css('color', 'grey');
                    $('#progress-radial').css({
                    "background": `radial-gradient(closest-side, whitesmoke 85%, transparent 80% 100%), 
                    conic-gradient(grey 0%, grey $0%)`
                    });
                }

                var now = new Date();
                var startTime = new Date(task.start_time);
                var endTime = new Date(task.end_time);
                var dayStart = new Date();
                dayStart.setHours(0, 0, 0, 0);
                dayEnd = new Date(dayStart);
                dayEnd.setHours(23, 59, 59, 999);

                var startMs = startTime - dayStart;
                var endMs = dayEnd - startTime;

                var totalDuration = endTime - startTime;
                let hoursDuration = Math.floor(totalDuration / (1000 * 60 * 60));
                let minutesDuration = Math.floor((totalDuration % (1000 * 60 * 60)) / (1000 * 60));
                // duration in hours and minutes might be used later to display task duration

                let startHours = new Date(startTime).getHours();
                let startMinutes = new Date(startTime).getMinutes();

                // Extract hours and minutes from end datetime
                let endHours = new Date(endTime).getHours();
                let endMinutes = new Date(endTime).getMinutes();

                console.log(`name: ${task.name}`);
                console.log(`Start time: ${startHours}:${startMinutes}`);
                console.log(`End time: ${endHours}:${endMinutes}`);

                console.log(` ${hoursDuration} hours, ${minutesDuration} minutes`);

                var durationPercent = ((endTime - startTime) / dayLen) * 100;
                var elapsedPercent = Math.max(0, ((dayStart - startTime) / dayLen) * 100);
                var taskProgress = Math.min(100, ((now - startTime) / totalDuration) * 100);
                
    
                var startPercent = (startMs / dayLen) * 100;
                var endPercent = (endMs / dayLen) * 100;
                
                containerWidth = container.width();
                var barLeft = (startPercent / 100) * containerWidth;
                var barWidth = (durationPercent / 100) * containerWidth;

                var secondaryColor = tinycolor(task.color).lighten(20).toString();

                var bar = $('<div>', {
                    'class': 'progress',
                    'role': 'progressbar',
                    'aria-valuenow': '+taskProgress+',
                    'aria-valuemin': '0',
                    'aria-valuemax': '100',
                    'style': 'position: absolute; left: ' + barLeft + 'px; width: ' + durationPercent + '%; background-color: '+secondaryColor+';',
                    'text': task.name
                });
                
                var barProgress = $('<div>', {
                        'class': 'progress-bar',
                        'style': 'position: absolute; width: ' + taskProgress + '%; background-color: ' + task.color + ';'
                    });
                
                var taskCard = $('<div>',{
                    'class': 'card-body'

                });

            //taskCards.append(taskCard);
            container.append(bar);
            bar.append(barProgress);
            
            console.log('now:', now);

            tbarProgress = Math.max(0, ((now - dayStart) / dayLen) * 100);
            var tbarLeft = (tbarProgress / 100) * containerWidth;
            $('#timebar').css('left', tbarLeft + 'px');

            console.log('tbarProgress:', tbarProgress);
            console.log('tbarLeft:', tbarLeft);
            console.log('barLeft:', barLeft);

            if (task.status === 'current') {
            $('#currentTaskInfo').text(task.name);
            $('#currentTaskInfo').css('color', task.color);
            $('#progress-radial').css({
            "background": `radial-gradient(closest-side, whitesmoke 85%, transparent 80% 100%), 
                       conic-gradient(${task.color} ${taskProgress}%, ${secondaryColor} ${taskProgress}%)`
            });
            } else {
            currentTaskInfo.text('No tasks');
            currentTaskInfo.css('color', 'grey');
            $('#progress-radial').css({
            "background": `radial-gradient(closest-side, whitesmoke 85%, transparent 80% 100%), 
                       conic-gradient(grey 0%, grey $0%)`
            });
            }
            
            });
        };

        timeline();
        fetchTasks();

        setInterval(timeline, 1000);
        setInterval(fetchTasks, 1000);

        $('#addTaskForm').on('submit', function() {
            $('#addTaskModal').modal('hide');
        });

        $(window).on('resize', function() {
        console.log('Window resized');
        drawTimelineBars(tasks);
        });

        

    });
    
</script>
{% endblock %}

{% block content %}
<h3 style="text-align:center; padding: 15px;"><span id="currentTaskInfo"></span></h3>

<div class="main-container">
<div id="progress-radial-container">
    <div id="progress-radial" class="progress-bar-radial">   
<div class="clock">
    <span id="hours"></span>
    <span class="separator">:</span>
    <span id="minutes"></span>
</div>
</div>
<progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
</div>




<div id="timeline-container">
<div id="timebar"></div>
<div id="timeline" class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    
    <!-- timeline bars will be added here -->
   

</div>
</div>
<hr>
<div class="task-list-container">
<h5>Task List</h5>


</div>
<div class="card-container">
    <div id="card-add" class="card">
        <div class="card-body">
            <button class="btn btn-sm" data-toggle="modal" data-target="#addTaskModal" style="display: flex; padding: 0;border-radius: .5rem; float: left; background-color: #d7d7d7"><span class="material-symbols-outlined">
                add
                </span><p style="margin: auto; padding-right: 15px; font-weight: 500;">New Task</p></button>
                <button class="btn btn-sm delete" ><span class="material-symbols-outlined" style="border: none; padding: 0; margin: 1;">
                    more_horiz
                    </span></button>
        </div> 
    </div>
    <div id="task-cards">
        <div class = "card">
            <div class="card-color"></div>
            <div class="card-body">
                <div>
                
                <h6 class="card-title" style="margin-bottom: auto; margin-top: auto;">Task Name</h6>
                <div class="duration">
                    <span class="material-symbols-outlined" style=" margin: 0; padding-right: 5px; font-size: 14px;">
                    schedule
                    </span>
                    <p class="time" style="margin-bottom: 0;">12:30 - 16:20</p>
                </div>
               
                </div>
                <div class="info">
                    <p class="status" style="color:green; margin-bottom: 0;">current</p>
                    
               
                <button class="btn btn-sm delete" ><span class="material-symbols-outlined" style="border: none; padding: 0; margin: 1; ">
                    more_horiz
                    </span>
                </div>
        </div>

        </div>
    </div>
      
    <!-- task cards will be added here-->
      

</div>

</div>

</div>



<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/new_task" method="post" id="addTaskForm">
                    <div class="form-group">
                        <label for="taskName">Task Name</label>
                        <input type="text" class="form-control" id="taskName" name="name" placeholder="Enter task name">
                    </div>
                    <div class="form-group">
                        <label for="taskColor">Task Color</label>
                        <input type="color" class="form-control" id="taskColor" name="color">
                    </div>
                    <div class="form-group">
                        <label for="startTime">Start Time</label>
                        <input type="time" class="form-control" id="startTime" name="start_time">
                    </div>
                    <div class="form-group">
                        <label for="endTime">End Time</label>
                        <input type="time" class="form-control" id="endTime" name="end_time">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="document.getElementById('addTaskForm').submit();">Save</button>
            </div>
        </div>
    </div>
{% endblock %}